h1{
    font-size: 30px;
    color: #333333;
    text-align: center;
}
.laiyuan{
    font-size: 18px;
    color: #999999;
}
strong{
    font-size: 18px;
    color: #333333;
}
p{
    color: #333333;
    text-indent: 2em;
}
.img{
    text-align: center;
}
