.header{
    height: 20px;
    padding: 0 200px 0 200px;
    display: flex;
    justify-content: space-between;
    background-color: #2B303B;
}
header h1{
    display: flex;
    height: 18px;
    margin-top: -25px;
}
header ul{
    display: flex;
    align-items: center;
}
header ul li{
    padding: 0 5px 0 5px;
}
header ul li a{
    font-size: 12px;
    color: #fff;
    padding-right: 5px;
    border-right: 1px solid #fff;
}
.banner{
    height: 480px;
    background-image: url(../img/tc_banner.png);
}
.banner aside{
    margin-left: 200px;
}
.banner aside li{
    height: 48px;
    width: 200px;
    line-height: 48px;
    padding-left: 10px;
    background-color: #1B2A3F;
}
.banner aside li a{
    color: #fff;
}
.banner aside li::after{
    content: ">";
    float: right;
    margin-right: 10px;
    color: #fff;
}
.course{
    height: 500px;
    background-color: #fff;
}
.course .c_title{
    height: 100px;
    padding: 15px 0 15px 0;
    text-align: center;
}
.course .c_title p:first-child{
    font-size: 20px;
    margin-bottom: 15px;
}
.course .c_title p:last-child{
    font-size: 18px;
}
.course{
    padding:0 200px 0 200px;
}
.course .c_card{
    padding: 20px;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    border: 1px solid #ccc;
}
.course .c_card img{
    height: 200px;
    background-color: #fff;
}
.course .c_card .desc{
    width: 380px;
}
.course .c_card .desc h2{
    display: inline-block;
    font-weight: normal;
    padding-bottom: 5px;
    border-bottom: 1px solid #ccc;
}
.course .c_card .desc p{
    margin-top: 10px;
    font-size: 12px;
    color: #666;
}
.course .c_card .desc a{
    display: block;
    width: 100px;
    height: 30px;
    font-size: 14px;
    border: 2px solid orange;
    text-align: center;
    line-height: 30px;
    margin-top: 10px;
}
footer{
    background-color: #000;
}
.footer{
    width: 100%;
    height: 300px;
    display: flex;
    padding: 0 150px 0 150px;
}
footer .footer_list{
    width: 800px;
    display: flex;
    justify-self: center;
    
    justify-content: space-between;
}
.footer_list dt{
    font-size: 14px;
    color: #fff;
    margin-bottom: 10px;
}
.footer_list dl{
    margin-top: 10px;
    padding-bottom: 60px;
}
.contect{
    margin-left: 40px;
    color: #fff;
    font-size: 12px;
    width: 200px;
    justify-self: end;
    margin-top: 10px;
}
.contect a{
    display: block;
    width: 150px;
    height: 25px;
    background-color: #00A4FF;
    border: none;
    text-align: center;
    line-height: 25px;
    color: #fff;
    margin-top: 10px;
}
.footer_list dd a{
    font-size: 12px;
    color: #fff;
}