/* 头部 */
header{
    width: 100%;
    height: 100px;
	background-color: #ffffff;
    padding-top: 29px;
}
header .wrapper{
    display: flex;  
}
/* 直接给内容宽高，使其撑开外面的盒子 */
header .wrapper .logo img{
    width: 195px;
    height: 41px;
}
header .wrapper .nav ul{
    display: flex;
    margin: 0 96px 0 102px;
}
header .wrapper .nav ul a{
    padding: 6px 8px;
    margin-right: 24px;
    font-size: 19px;
}
/* 选择第一个li中的a标签 */
header .wrapper .nav ul li:first-child a{
    border-bottom: 2px solid #00a4ff;
}
header .wrapper .search {
    width: 385px;
    height: 40px;
    padding-left: 19px;
    padding-right: 12px;
    margin-right: 32px;
    border-radius: 20px;
    background-color: #f3f5f7;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .wrapper .search input{
    /* 背景色透明 */
    background-color: transparent;
    /* 去除外廓线 */
    outline: none;
    border: none;
    /* 填充剩余尺寸 */
    flex: 1;
}
/* 选择占位符文本 */
header .wrapper .search input::placeholder{
    color: #999999;
    font-size: 14px;
}
header .wrapper .search button{
    border: none;
    width: 16px;
    height: 16px;
    background-color: transparent;
    margin-left: 10px;
    background-image: url(../images/search.png);
}
header .wrapper .user{
    display: flex;
    width: 116px;
    height: 30px;
    align-items: center;
}
header .wrapper .user span{
    margin-left: 10px;
    font-size: 14px;
}

/* 轮播图区 */
.banner{
    width: 100%;
    height: 420px;
    background-color: #0092cb;
}
.banner .wrapper{
    display: flex;
    justify-content: space-between;
    height: 420px;
    background-image: url(../uploads/banner.png);
}
.banner .wrapper .left{
    width: 190px;
    height: 100%;
}
.banner .wrapper .right{
    width: 218px;
    height: 305px;
    background-color: #209dd5;
    align-self: center;
    border-radius: 10px;
}
.banner .wrapper .left ul a{
    height: 46px;
    display: block;
    line-height: 46px;
    background-image: url(../images/right.png);
    background-repeat: no-repeat;
    background-position: 161px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.42);
    padding-left: 12px;
}
.banner .wrapper .left ul li:last-child a{
    height: 52px;
    line-height: 52px;
}
.banner .wrapper .left ul a:hover{
    color: #00a4ff;
    background-image: url(../images/right-hover.png);
    background-position: 161px;
}
.banner .wrapper .right .title{
    padding: 18px 129px 9px 14px;
    color: #fff;
}
.banner .wrapper .right .content{
    width: 218px;
    height: 257px;
    border-radius: 10px;
    background-color: #fff;
    padding: 14px;
}
.banner .wrapper .right .content ul{
    font-size: 16px;
}
.banner .wrapper .right .content ul li{
    margin-bottom: 12px;
    border-bottom:2px solid rgba(164,202,255,0.19);
}
.banner .wrapper .right .content ul li:last-child{
    margin-bottom: 6px;
}
.banner .wrapper .right .content ul li h4{
    margin-bottom: 8px;
    font-size: 14px;
}
.banner .wrapper .right .content ul li p{
    font-size: 12px;
    color: #7d7d7d;
    margin-bottom: 8px;
}
.banner .wrapper .right .content ul li p::before{
    content: '正在学习';
    color: #00a4ff;
}
.banner .wrapper .right .content button{
    width: 100%;
    background-color: #00a4ff;
    border: none;
    height: 32px;
    line-height: 32px;
    border-radius: 16px;
    color: #fff;
}

/* 精品推荐区 */
.wrapper#recommend{
    height: 60px;
    margin-top: 12px;
    background-color: #fff;
    box-shadow: 2px 2px 2px rgba(70, 69, 69, 0.2);
    display: flex;
    align-items: center;
    padding:0px 20px;
}
.wrapper#recommend ul{
    display: flex;
    /* 盒子占满剩余宽度，把其右侧的容器推到最右边 */
    flex: 1;
}
.wrapper#recommend ul li{
    padding: 0 24px;
    font-size: 18px;
    border-right: 1px solid #ccc;
}
.wrapper#recommend > h3{
    font-weight: normal;
    font-size: 18px;
    color: #00a4ff;
}
.wrapper#recommend > a{
    font-size: 16px;
    color: #00a4ff;
}